@model MyPortfolıo.DAL.Entites.About

<header id="about"class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-xs-12">
                <nav>
                    <div id="menu-toggle">
                        <div class="hamburger">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                        <div class="cross">
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <ul class="main-nav">
                        <li><a href="">Anasayfa</a></li>
                        <li><a href="#about">Hakkımda</a></li>
                        <li><a href="#">Yetkinliklerim</a></li>
                        <li><a href="#">Teknolojiler</a></li>
                        <li><a href="#">İletişim</a></li>
                    </ul>
                </nav>
                <!-- <a href="#" class="menu"><img src="assets/menu.png"></a> -->
                <div class="hero-text">
                    <h3>@Model.Title</h3>
                    <h3>@Model.SubTitle</h3>
                    <p>@Model.Description</p>
                    <a href="https://drive.google.com/file/d/1TRyR6RDFYGOIWEd6720fqQSATkiXoYuo/view?usp=sharing" class="btn btn-lg btn-primary">Download CV</a>
                    <ul class="social-links">
                        <li class="label">Adreslerim</li>
                 
                        <li><a href="@Model.LinkedinUrl" target="_blank"><img src="~/One-Page-Portfolio-Template-master/assets/linkedintasarım.png"></a></li>
                        <li><a href="@Model.GithubUrl" target="_blank"><img src="~/One-Page-Portfolio-Template-master/assets/github.png"></a></li>
                        <li><a href="@Model.MediumUrl" target="_blank"><img src="~/One-Page-Portfolio-Template-master/assets/resim (3).png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>